// Enable DSL2
nextflow.enable.dsl = 2

params {
    // Database path
    kaiju = "/imppc/labs/emlab/share/bbdd/kaijudb/nr"
    // Other existing parameters...
}

profiles {
    conda_on {
        conda.enabled = true
        conda.useMamba = true
    }

    singularity_on {
        singularity.enabled = true
        singularity.cacheDir = '/imppc/labs/emlab/phesketh/.singularity/'
    }

    igtp {
        process {

            executor = 'sge'
            penv = 'smp'
            queue = 'd10imppcv3'
            clusterOptions = '-V -l h=sge-exec-13' //Fixes "singularity: file not found"
            beforeScript = "source /imppc/labs/emlab/phesketh/miniconda3/etc/profile.d/conda.sh; export _JAVA_OPTIONS='-Xmx8G -XX:+UnlockExperimentalVMOptions -XX:+UseZGC'; export NXF_OPTS='-Xms50g -Xmx100g'; export HEAP='-Xms1g -Xmx1g'; export LC_ALL='en_US.utf-8'"

            withName: MTBC_READ_QC {
                cpus = { Math.min(16 * task.attempt, 24) }
                memory = { 24.GB * task.attempt }
                time = 1.hour
                errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries = 3
            }

            withName: MTBSEQ_SINGLE {
                cpus = { Math.min(4 * task.attempt, 8) }
                memory = { 8.GB * task.attempt }
                time = 40.min
                errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries = 3
            }

            withName: TBPROFILER_DB_UPDATE {
                cpus = { Math.min(1 * task.attempt, 8) }
                memory = { 2.GB * task.attempt }
                time = 30.min
                errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries = 3
            }

            withName: TBPROFILER_PROFILE_TBDB {
                cpus = { Math.min(1 * task.attempt, 8) }
                memory = { 2.GB * task.attempt }
                time = 30.min
                errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries = 3
            }

            withName: TBPROFILER_PROFILE_WHO {
                cpus = { Math.min(1 * task.attempt, 8) }
                memory = { 2.GB * task.attempt }
                time = 30.min
                errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
        }
    }
}