// Enable DSL2
nextflow.enable.dsl = 2

params {
    // Output directory
        outdir                  = "/imppc/labs/emlab/share/TBSEQ/RutiSeq"
        runID                   = null
        workDir                 = "."
        //workflow                   = 'full'

    // Database path
        kaiju_fmi               = "/imppc/labs/emlab/share/bbdd/kaijudb/nr/kaiju_db_refseq_ref.fmi"
        kaiju_nodes             = "/imppc/labs/emlab/share/bbdd/kaijudb/nr/nodes.dmp"
        kaiju_names             = "/imppc/labs/emlab/share/bbdd/kaijudb/nr/names.dmp"

        tbprofiler_tbdb         = "/imppc/labs/emlab/share/GitHub/RutiSeq-nf/db/tb-profiler_db/tbdb"
        tbprofiler_who          = "/imppc/labs/emlab/share/GitHub/RutiSeq-nf/db/tb-profiler_db/who"

        r_script_dir            = "/imppc/labs/emlab/share/GitHub/RutiSeq-nf/bin/R"

        MTBSEQ_ancestor         = "/imppc/labs/emlab/share/GitHub/RutiSeq-nf/db/MTBc_ancestral_sequence/MTB_ancestor_reference.pos.gz"

        snpeff_ref_genome       = "Mycobacterium_tuberculosis_h37rv"
        // this bbdd will be populated with SNP barcodes of YOUR clusters BUT only if they are generated through the workflow
        rutiseq_db              = "/imppc/labs/emlab/share/GitHub/RutiSeq-nf/db/RutiSeq-db" 
        cpu                     = 2 // will be overridden by process{}
        memory                  = 6

    // Lineages for clustering (this is defined by the TB-Profiler lineage classification)
    /// The purpose of this is to break up the genomes into smaller more computationally manageble using for analysis
    /// the list will depend entirely on what the bulk of your data is, in this case it is presumed that lineage4
    /// will be the most abundant, thus we take a level 2 sub-lineage classification to perform the clustering at
    /// but not for other lineages as they all have <800 genomes. Once a lineage had around that amount, you want to take the 
    /// next sub-lineage level (given as a tuple)
        lineage_pairwise        = ['La1', 'La2', 'La3', 'lineage1', 'lineage2', 'lineage3', 'lineage4', 'lineage5', 'lineage6',
                                    'lineage4.1', 'lineage4.2', 'lineage4.3', 'lineage4.4', 'lineage4.5', 'lineage4.6', 'lineage4.7',
                                    'lineage4.8', 'lineage4.9']

    // MTBSeq SNP distance clustering levels
        mtbseq_min_cov          = 50
        mtbseq_snp_distance     = [5, 10, 15] // a tuple of all the distances that I want compared

    // Conda paths
        envs_dir                = "/imppc/labs/emlab/share/GitHub/RutiSeq-nf/envs/conda"
        kaiju_env               = "${params.envs_dir}/kaiju-env.yml"
        bcftools_env            = "${params.envs_dir}/bcftools-env.yml"
        mtbseq_env              = "${params.envs_dir}/mtbseq-env.yml"
        tbprofiler_env          = "${params.envs_dir}/tbprofiler-env.yml"
        r_stats_env             = "${params.envs_dir}/r_stats_env.yml"
        snp_profiling_env       = "${params.envs_dir}/snp_profiling_env.yml"
    }

/* Profiles, run as such
nextflow run main.nf [···] -profile igtp,singularity_on -ansi-log false
*/

profiles {
    conda_on {
            conda.enabled       = true
            conda.useMamba      = true
            conda.createTimeout = '1 h'
            conda.channels      = ['conda-forge', 'bioconda', 'defaults']
            conda.cacheDir      = '/imppc/labs/emlab/phesketh/miniforge3/envs/'

    }

    singularity_on {
            singularity.enabled = true
            singularity.autoMounts = true
    }

    igtp {
        process {
            executor = 'sge'
            penv = 'smp'
            queue = 'd10imppcv3'
            clusterOptions = '-S /bin/bash' // '-V' does seem to solve a singularity issue (unsure)
            beforeScript = 'source /imppc/labs/emlab/phesketh/miniforge3/etc/profile.d/conda.sh'

            withName: FILE_CHECK {
                cpus            = 1
                memory          = 6.Gb
                time            = 5.min
            }

            withName: INSPECT_BBDD {
                cpus            = 1
                memory          = 6.Gb
                time            = 5.min
            }

            withName: CN_READ_TAXONOMY {
                cpus            = { 8 * task.attempt }
                memory          = { 45.GB * task.attempt }
                time            = 1.hour
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
                // Customised the running parameters by adding flag below:
                ext.additional_args_kaiju = '' // kaiju args
                ext.additional_args_kaiju2table = '-r genus -m 1.0' // kaiju2table args
            }

            withName: MTBC_READ_QC {
                cpus            = { 8 * task.attempt }
                memory          = { 45.GB * task.attempt }
                time            = 1.hour
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
                // Customised the running parameters by adding flag below:
                ext.additional_args_kaiju = '' // kaiju args
                ext.additional_args_kaiju2table = '-r genus -m 1.0' // kaiju2table args
            }

            withName: TBPROFILER_PROFILE_TBDB {
                cpus            = { 4 * task.attempt }
                memory          = { 8.GB * task.attempt }
                time            = 10.min
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
                // Customised the running parameters by adding flag below:
                ext.additional_args = '' // tb-profiler args
            }

            withName: TBPROFILER_PROFILE_WHO {
                cpus            = { 4 * task.attempt }
                memory          = { 8.GB * task.attempt }
                time            = 10.min
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
                // Customised the running parameters by adding flag below:
                ext.additional_args = '' // tb-profiler args
            }

            withName: MTBSEQ_SINGLE {
                cpus            = { 8 * task.attempt }
                memory          = { 15.GB * task.attempt }
                time            = 45.min
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries  = 3
                // Customised the running parameters by adding flag below:
                                        // MTBseq args
                ext.additional_args = '--window 10 --minbqual 13 --all_vars 0 --snp_vars 0 --lowfreq_vars 0 --mincovf 4 --mincovr 4 --minphred20 4 --minfreq 75 --unambig 95'
            }

            withName: SNP_PROFILING_SINGLE {
                cpus            = { 2 * task.attempt }
                memory          = { 4.GB * task.attempt }
                time            = 30.min
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
                // Customised the running parameters by adding flag below:
                ext.additional_args_varscan = '--min-coverage 20 --min-reads2 20 --min-avg-qual 20' // varscan args
            }

            withName: SNP_ANNOTATING_SINGLE {
                cpus            = { 2 * task.attempt }
                memory          = { 4.GB * task.attempt }
                time            = 30.min
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
                // Customised the running parameters by adding flag below:
                ext.additional_str_snpeff = ' -v -hgvs1LetterAa -noStats -no-downstream -no-intergenic -no-intron -no-upstream -noLof '
                //ext.additional_args_filt_snps = ['PE/PPE/PGRS', 'maturase', 'phage', 'mobile','13E12 repeat family protein']
            }

            withName: COMPILE_SEQUENCING_STATS {
                cpus            = { 4 * task.attempt }
                memory          = { 8.GB * task.attempt }
                time            = 30.min
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
                // Customised the running parameters by adding flag below:
                ext.compile_sequencing_stats = ''
            }

            withName: TBPROFILER_COMPILE_TBDB {}

            withName: TBPROFILER_COMPILE_WHO {}

            withName: MTBSEQ_STATS_COMPILE {}

            withName: COMPILE_SEQUENCING_STATS {}

            withName: MTBSEQ_LINEAGE_PAIRWISE {
                cpus            = { 8 * task.attempt }
                memory          = { 40.GB * task.attempt }
                time            = 180.min
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries  = 3
                // Customised the running parameters by adding flag below:
                                        // MTBseq args
                ext.additional_args = '--window 10 --minbqual 13 --all_vars 0 --snp_vars 0 --lowfreq_vars 0 --mincovf 4 --mincovr 4 --minphred20 4 --minfreq 75 --unambig 95'
            }

            withName: CONCATENATED_VARIABLE_REGION_PHYLOGENY {}

            withName: CONCATENATE_CLUSTERS {
                cpus            = { 2 * task.attempt }
                memory          = { 4.GB * task.attempt }
                time            = 30.min
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
            }


        }
    }
}

// Resource usage reports (uncomment if needed)
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
    showSkipped = false
    showTaskCacheInfo = false
    showTaskResources = true
    showTaskResourcesPercentage = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.tsv"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.png"
}

// Manifest
manifest {
    name = 'RutiSeq-nf'
    author = 'Poppy J Hesketh Best'
    homePage = 'https://github.com/phesketh-igtp/TBSEQ.cat-nf'
    description = 'Mapping, variant calling and genomic clustering for the ongoing monitoring of MTB outbreaks in Catalunya'
    mainScript = 'main.nf'
    nextflowVersion = '>=21.10.3'
    version = '1.0.0'
}