// Enable DSL2
nextflow.enable.dsl = 2

params {
    // Output directory
        outdir                  = "/imppc/labs/emlab/share/TBSEQ/RutiSeq"
        runID                   = null
        workDir                 = "."
        //workflow                   = 'full'

    // Database path
        kaiju_fmi               = "/imppc/labs/emlab/share/bbdd/kaijudb/nr/kaiju_db_refseq_ref.fmi"
        kaiju_nodes             = "/imppc/labs/emlab/share/bbdd/kaijudb/nr/nodes.dmp"
        kaiju_names             = "/imppc/labs/emlab/share/bbdd/kaijudb/nr/names.dmp"

        tbprofiler_tbdb         = "${projectDir}/db/tb-profiler_db/tbdb"
        tbprofiler_who          = "${projectDir}/db/tb-profiler_db/who"

        r_script_dir            = "${projectDir}/bin/R"

        mtbc_ancestor_path      = "${projectDir}/db/MTBc_ancestral_sequence/MTB_ancestor_reference.pos.gz"

        snpeff_ref_genome       = "Mycobacterium_tuberculosis_h37rv"
        // this bbdd will be populated with SNP barcodes of YOUR clusters BUT only if they are generated through the workflow
        rutiseq_db              = "${projectDir}/db/RutiSeq-db" 
        cpu                     = 2 // will be overridden by process{}
        memory                  = 6

    // Lineages for clustering (this is defined by the TB-Profiler lineage classification)
    /// The purpose of this is to break up the genomes into smaller more computationally manageble using for analysis
    /// the list will depend entirely on what the bulk of your data is, in this case it is presumed that lineage4
    /// will be the most abundant, thus we take a level 2 sub-lineage classification to perform the clustering at
    /// but not for other lineages as they all have <800 genomes. Once a lineage had around that amount, you want to take the 
    /// next sub-lineage level (given as a tuple)
        lineage_pairwise        = ['La1', 'La2', 'La3', 'lineage1', 'lineage2', 'lineage3', 'lineage4', 'lineage5', 'lineage6',
                                    'lineage4.1', 'lineage4.2', 'lineage4.3', 'lineage4.4', 'lineage4.5', 'lineage4.6', 'lineage4.7',
                                    'lineage4.8', 'lineage4.9']

    // MTBSeq SNP distance clustering levels
        mtbseq_min_cov          = 50 // minimum coverage as calculated by MTBseq
        mtbseq_snp_distance     = ['5', '10', '15'] // a tuple of all the distances that I want compared

    // Conda paths (built from yml files):
        envs_dir                = "${projectDir}/envs/conda"
        kaiju_env               = "${projectDir}/envs/conda/kaiju-env.yml"
        bcftools_env            = "${projectDir}/envs/conda/bcftools-env.yml"
        mtbseq_env              = "${projectDir}/envs/conda/mtbseq-env.yml"
        tbprofiler_env          = "${projectDir}/envs/conda/tbprofiler-env.yml"
        r_stats_env             = "${projectDir}/envs/conda/r_stats_env.yml"
        snp_profiling_env       = "${projectDir}/envs/conda/snp_profiling_env.yml"
        phylogeny_env           = "${projectDir}/envs/conda/phylogeny_env.yml"

    // Docker images (from seqera container builder):
        docker_kaiju         = "community.wave.seqera.io/library/kaiju_seqkit:9f6e07b33a94e6ad" //https://wave.seqera.io/view/builds/bd-9f6e07b33a94e6ad_1
        docker_mtbseq        = "community.wave.seqera.io/library/mtbseq:1.1.0--3ef3983aae64199d" //https://wave.seqera.io/view/builds/bd-3ef3983aae64199d_1
        docker_tbprofiler    = "community.wave.seqera.io/library/tb-profiler:6.5.0--663b287ceab908ed" //https://wave.seqera.io/view/builds/bd-663b287ceab908ed_1
        docker_r_stats       = "" //https://wave.seqera.io/view/builds/bd-ca6daa5df4ee774f_1
        docker_snp_profiling = "community.wave.seqera.io/library/bcftools_snpeff_varscan_vcftools:bc340301d8f35222" //https://wave.seqera.io/view/builds/bd-bc340301d8f35222_1
        docker_phylogeny     = "community.wave.seqera.io/library/iqtree_mafft_seqkit_snp-sites_treetime:7fffaf73832e61c8" //https://wave.seqera.io/view/builds/bd-7fffaf73832e61c8_1

    // Singularity images (from seqera container builder):
        singularity_kaiju         = "https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/c2/c21eafb6f3c8b7b61d6221412e8fd8e0f7ac78e5087c4be5aa7fb785a0502339/data" //https://wave.seqera.io/view/builds/bd-40ff2dbf082cfb59_1
        singularity_mtbseq        = "https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/ce/ce098dd570838fdcb0eb401b3afe4ebf4bc88d1038768ec18b3f970deb28c313/data" //https://wave.seqera.io/view/builds/bd-d0a0774ca038b4d3_1
        singularity_tbprofiler    = "https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/25/25b96ccbdf8a2f57ec1b37a36a72f9f880cc4cd3da93a5e54147b8a57fbda0a6/data" //https://wave.seqera.io/view/builds/bd-078c649aa2593744_1
        singularity_r_stats       = "" //
        singularity_snp_profiling = "" //https://wave.seqera.io/view/builds/bd-52f3aae601537a6e_1
        singularity_phylogeny     = "https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/00/00310d9d2bbbf70c7e5b4a9427ceb2624a728ec129cfe9519a4b1335c7769f79/data" //https://wave.seqera.io/view/builds/bd-6611a027a76ae000_1
    
    // Apptainer images
        apptainer_kaiju         = "docker://community.wave.seqera.io/library/kaiju_seqkit:9f6e07b33a94e6ad" //https://wave.seqera.io/view/builds/bd-9f6e07b33a94e6ad_1
        apptainer_mtbseq        = "docker://community.wave.seqera.io/library/mtbseq:1.1.0--3ef3983aae64199d" //https://wave.seqera.io/view/builds/bd-3ef3983aae64199d_1
        apptainer_tbprofiler    = "docker://community.wave.seqera.io/library/tb-profiler:6.5.0--663b287ceab908ed" //https://wave.seqera.io/view/builds/bd-663b287ceab908ed_1
        apptainer_r_stats       = "docker://" //https://wave.seqera.io/view/builds/bd-ca6daa5df4ee774f_1
        apptainer_snp_profiling = "docker://community.wave.seqera.io/library/bcftools_snpeff_varscan_vcftools:bc340301d8f35222" //https://wave.seqera.io/view/builds/bd-bc340301d8f35222_1
        apptainer_phylogeny     = "docker://community.wave.seqera.io/library/iqtree_mafft_seqkit_snp-sites_treetime:7fffaf73832e61c8" //https://wave.seqera.io/view/builds/bd-7fffaf73832e61c8_1
    
    }

/* 
    PROFILES:
        Personal profile for running on the IGTP computing cluster
        nextflow run main.nf [···] -profile igtp,singularity_on -ansi-log false
*/

profiles {
    conda_on {
            conda.enabled       = true
            conda.useMamba      = true
            conda.createTimeout = '1 h'
            conda.channels      = ['conda-forge', 'bioconda', 'defaults']
            conda.cacheDir      = "${projectDir}/nf-conda/cache/"
    }

    apptainer_on {
            apptainer.enabled       = true
            apptainer.autoMounts    = true
            apptainer.cacheDir      = "${projectDir}/nf-apptainer/cache/"

    }

    singularity_on {
            singularity.enabled     = true
            singularity.autoMounts  = true
            singularity.cacheDir    = "${projectDir}/nf-singularity/cache/"
    }

    igtp {
        process {
            executor = 'sge'
            penv = 'smp'
            queue = 'd10imppcv3'
            clusterOptions = '-S /bin/bash' // '-V' does seem to solve a singularity issue (unsure)
            beforeScript = 'source /imppc/labs/emlab/phesketh/miniforge3/etc/profile.d/conda.sh'

        /*
            MODULE RESOURCE ALLOCATIONS AND DEFINING ADDITIONAL ARGUMENTS
        */
            withName: FILE_CHECK {
                cpus            = 1
                memory          = 6.Gb
                time            = 5.min
            }
            withName: INSPECT_BBDD {
                cpus            = 1
                memory          = 6.Gb
                time            = 5.min
            }
            withName: CN_READ_TAXONOMY {
                cpus            = { 8 * task.attempt }
                memory          = { 45.GB * task.attempt }
                time            = 1.hour
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
                // Customised the running parameters by adding flag below:
                ext.additional_args_kaiju = '' // kaiju args
                ext.additional_args_kaiju2table = '-r genus -m 1.0' // kaiju2table args
            }
            withName: MTBC_READ_QC {
                cpus            = { 8 * task.attempt }
                memory          = { 45.GB * task.attempt }
                time            = 1.hour
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
                // Customised the running parameters by adding flag below:
                ext.additional_args_kaiju = '' // kaiju args
                ext.additional_args_kaiju2table = '-r genus -m 1.0' // kaiju2table args
            }
            withName: TBPROFILER_PROFILE_TBDB {
                cpus            = { 4 * task.attempt }
                memory          = { 8.GB * task.attempt }
                time            = 10.min
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
                // Customised the running parameters by adding flag below:
                ext.additional_args = '' // tb-profiler args
            }
            withName: TBPROFILER_PROFILE_WHO {
                cpus            = { 4 * task.attempt }
                memory          = { 8.GB * task.attempt }
                time            = 10.min
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
                // Customised the running parameters by adding flag below:
                ext.additional_args = '' // tb-profiler args
            }
            withName: MTBSEQ_SINGLE {
                cpus            = { 8 * task.attempt }
                memory          = { 15.GB * task.attempt }
                time            = 45.min
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries  = 3
                // Customised the running parameters by adding flag below:
                                        // MTBseq args
                ext.additional_args = '--window 10 --minbqual 13 --all_vars 0 --snp_vars 0 --lowfreq_vars 0 --mincovf 4 --mincovr 4 --minphred20 4 --minfreq 75 --unambig 95'
            }
            withName: SNP_PROFILING_SINGLE {
                cpus            = { 2 * task.attempt }
                memory          = { 4.GB * task.attempt }
                time            = 30.min
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
                // Customised the running parameters by adding flag below:
                ext.additional_args_varscan = '--min-coverage 20 --min-reads2 20 --min-avg-qual 20' // varscan args
            }
            withName: SNP_ANNOTATING_SINGLE {
                cpus            = { 2 * task.attempt }
                memory          = { 4.GB * task.attempt }
                time            = 30.min
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
                // Customised the running parameters by adding flag below:
                ext.additional_str_snpeff = ' -v -hgvs1LetterAa -noStats -no-downstream -no-intergenic -no-intron -no-upstream -noLof '
                //ext.additional_args_filt_snps = ['PE/PPE/PGRS', 'maturase', 'phage', 'mobile','13E12 repeat family protein']
            }
            withName: COMPILE_SEQUENCING_STATS {
                cpus            = { 4 * task.attempt }
                memory          = { 8.GB * task.attempt }
                time            = 30.min
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
                // Customised the running parameters by adding flag below:
                ext.compile_sequencing_stats = ''
            }
            withName: TBPROFILER_COMPILE_TBDB {
                cpus            = { 4 * task.attempt }
                memory          = { 8.GB * task.attempt }
                time            = 10.min
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
                // Customised the running parameters by adding flag below:
                ext.additional_args = '' // tb-profiler args
            }
            withName: TBPROFILER_COMPILE_WHO {
                cpus            = { 4 * task.attempt }
                memory          = { 8.GB * task.attempt }
                time            = 10.min
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
                // Customised the running parameters by adding flag below:
                ext.additional_args = '' // tb-profiler args
            }
            withName: MTBSEQ_STATS_COMPILE {
                cpus            = { 4 * task.attempt }
                memory          = { 8.GB * task.attempt }
                time            = 10.min
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
                // Customised the running parameters by adding flag below:
                ext.additional_args = '' // tb-profiler args
            }
            withName: COMPILE_SEQUENCING_STATS {
                cpus            = { 4 * task.attempt }
                memory          = { 8.GB * task.attempt }
                time            = 10.min
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
                // Customised the running parameters by adding flag below:
                ext.additional_args = '' // tb-profiler args
            }
            withName: MTBSEQ_LINEAGE_PAIRWISE {
                cpus            = { 8 * task.attempt }
                memory          = { 40.GB * task.attempt }
                time            = 24.hour
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries  = 3
                // Customised the running parameters by adding flag below:
                                        // MTBseq args
                ext.additional_args = '--window 10 --mincovf 4 --mincovr 4 --minphred20 4 --minfreq 75 --unambig 95'
            }
            withName: CONCATENATED_VARIABLE_REGION_PHYLOGENY {
                cpus            = { 8 * task.attempt }
                memory          = { 16.GB * task.attempt }
                time            = 12.hour
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
                // Customised the running parameters by adding flag below:
                ext.additional_args = '' // tb-profiler args
            }
            withName: CONCATENATE_CLUSTERS {
                cpus            = { 2 * task.attempt }
                memory          = { 4.GB * task.attempt }
                time            = 30.min
                errorStrategy   = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
                maxRetries      = 3
            }
        }
    }
}

// Resource usage reports (uncomment if needed)
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
    showSkipped = false
    showTaskCacheInfo = false
    showTaskResources = true
    showTaskResourcesPercentage = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.tsv"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.png"
}

// Manifest
manifest {
    name = 'RutiSeq-nf'
    author = 'Poppy J. Hesketh Best'
    homePage = 'https://github.com/phesketh-igtp/TBSEQ.cat-nf'
    description = 'Mapping, variant calling and genomic clustering for the ongoing monitoring of MTB outbreaks in Catalunya'
    mainScript = 'main.nf'
    nextflowVersion = '24.10.2'
    version = '1.0.0 [pre_release]'
}