params {
    // Output directory
    outDir                  = null
    runID                   = null
    workDir                 = null
    envsDir                 = "${params.outDir}/envs/"
    cpus                    = 4 //  default thread values.

    // Database path
    sylph_bbdd              = "/imppc/labs/emlab/share/bbdd/sylph/gtdb-r220-c200-dbv1.syldb /imppc/labs/emlab/share/bbdd/sylph/fungi-refseq-2024-07-25-c200-v0.3.syldb /imppc/labs/emlab/share/bbdd/sylph/imgvr_c200_v0.3.0.syldb"
    sylph_bbdd_id           = "GTDB_r220 IMGVR_4.1 FungiRefSeq-2024-07-25"
    tbprofiler_tbdb         = "${projectDir}/db/tb-profiler_db/tbdb"
    tbprofiler_who          = "${projectDir}/db/tb-profiler_db/who"
    mtbseq_gene_annotations = "${projectDir}/db/H37Rv_db/M._tuberculosis_H37Rv_2015-11-13_genes.txt"
    r_script_dir            = "${projectDir}/bin/R"
    script_dir              = "${projectDir}/bin"
    mtbc_ancestor_path      = "${projectDir}/db/MTBc_ancestral_sequence/MTB_ancestor_reference.pos.gz"
    snpeff_ref_genome       = "Mycobacterium_tuberculosis_h37rv"
    mtbc_reference          = "${projectDir}/db/H37Rv_db/M._tuberculosis_H37Rv_2015-11-13.fasta"
    rutiseq_db              = "${projectDir}/db/RutiSeq-db"

    // Lineages for clustering
    pairwise_split          = "none" // "none", "main", or "sub"
    lineage_pairwise_main   = [ "La1", "La2", "La3", "lineage1", "lineage2", "lineage3", 
                                "lineage4", "lineage5", "lineage6" ]
    lineage_pairwise_sub    = [ "lineage4.1", "lineage4.2", "lineage4.3", "lineage4.4", 
                                "lineage4.5", "lineage4.6", "lineage4.7", "lineage4.8", 
                                "lineage4.9" ]

    // fastp parameters
    fastp_length_required   = 50
    fastp_max_reads         = 5000000
    fastp_min_reads         = 500000

    // MTBseq default values
    mtbseq_minbqual         = 20
    mtbseq_mincovf          = 4
    mtbseq_mincovr          = 4
    mtbseq_minphred20       = 4
    mtbseq_minfreq          = 75
    mtbseq_unambig          = 95
    mtbseq_window           = 12
    mtbseq_snp_distance     = ["5", "10", "15"]

    // IQ-Tree bootstraps
    iqtree_bootstraps       = 1000
    iqtree_model            = 'GTR+G4'

    // Genome filtering parameters for pairwise analysis
    filt_min_cov            = 0.95
    filt_min_depth          = 50
    filt_min_reads          = 1000000
    
    // ONT parameters (WIP)
    ont_filt_min_cov        = 0.95
    ont_filt_min_depth      = 30
    ont_filt_min_reads      = 50000

    // Error strategy
    process.errorStrategy = 'finish'
}