/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    RutiSeq-nf Nextflow config file - Parameters
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default parameters for all compute environments
----------------------------------------------------------------------------------------
*/

// Enable DSL2
nextflow.enable.dsl = 2

params {
    // Error strategy
        process.errorStrategy = 'finish'

    // Inputs
        samplesheet            = null
        metadata               = null
        runID                  = null

    // Output directory
        outDir                  = null
        workDir                 = null
        envsDir                 = "${params.outDir}/envs"
        storeDir                = "${params.outDir}/store"
        cpus                    = 4 //  default thread values.
        help                    = null

    // Database path
        scriptDir               = "${projectDir}/bin"
        mtbc_ancestor_path      = "${projectDir}/db/MTBc_ancestral_sequence/MTB_ancestor_reference.pos.gz"
        mtbc_reference          = "${projectDir}/db/H37Rv_db/M._tuberculosis_H37Rv_2015-11-13.fasta"

    // Lineages for clustering (this is defined by the TB-Profiler lineage classification)
    /// The purpose of this is to break up the genomes into smaller more computationally manageble chunks for analysis
    /// the lists will depend entirely on what the bulk of your data is, in this case it is presumed that lineage 4
    /// will be the most abundant, thus we take a level 2 sub-lineage classification to perform the clustering at
    /// but not for other lineages as they all have <800 genomes. Once a lineage had around that amount, you want to take the 
    /// next sub-lineage level (given as a tuple).

        pairwise_split          = "none" // "none", "main", or "sub"

        lineage_pairwise_main   = [ "La1", "La2", "La3", "lineage1", "lineage2", "lineage3", 
                                    "lineage4", "lineage5", "lineage6" ]

        lineage_pairwise_sub    = [ "lineage4.1", "lineage4.2", "lineage4.3", "lineage4.4", 
                                    "lineage4.5", "lineage4.6", "lineage4.7", "lineage4.8", 
                                    "lineage4.9" ]
                                    // "lineage4.1.1", "lineage4.1.2", "lineage4.1.3", 
                                    // "lineage4.1.4", "lineage4.3.1", "lineage4.3.2",
                                    // "lineage4.3.3", "lineage4.3.4" ]

    // fastp parameters
        fastp_length_required   = 50 // minimum number of reads required for analysis
        fastp_min_reads         = 500000 // minimum number of reads required for analysis
        fastp_max_reads         = 5000000 // maximum number of reads to be used in the analysis

    // MTBseq parameters
        mtbseq_reference        = "M._tuberculosis_H37Rv_2015-11-13" 
            // Options: M._tuberculosis_H37Rv_2015-11-13 (default), 
            //          M._abscessus_CIP-104536T_2014-02-03
            //          M._chimaera_DSM44623_2016-01-28
            //          M._fortuitum_CT6_2016-01-08
        mtbseq_minbqual         = 20    // default: 13
        mtbseq_mincovf          = 4     // default: 4
        mtbseq_mincovr          = 4     // default: 4
        mtbseq_minphred20       = 4     // default: 4
        mtbseq_minfreq          = 75    // default: 75
        mtbseq_unambig          = 95    // default: 95
        mtbseq_window           = 12    // default: 12
        mtbseq_snp_distance     = ["5", "10", "15"] // a tuple of all the distances to compared; default: 12
        mtbseq_args             = ''    // additional MTBseq args
    
    // Snippy parameters
        snippy_reference        = "${projectDir}/db/H37Rv_db/NC_000962_2017-12-14.gbk"
        snippy_masking          = "${projectDir}/db/H37Rv_db/Comas2015.masked-genes.bed"  
        snippy_mincov           = 20    // default: 10
        snippy_minfrac          = 0.7   // default: 0, 0=AUTO, 
        snippy_mapqual          = 60    // default: 60
        snippy_minqual          = 100   // default: 100
        snippy_basequal         = 13    // default: 13
        snippy_args             = ''    // additional snippy args
        snippy_core             = false

    // IQ-Tree parameters
        iqtree_bootstraps       = 1000
        iqtree_model            = 'GTR+G4'

    // Genome filtering parameters for pairwise analysis
        filt_min_cov            = 0.95      // default: , minimum breadth coverage as calculated by MTBseq for pairwise analysis
        filt_min_depth          = 50        // default: , minimum depth coverage as calculated by MTBseq for pairwise analysis
        filt_min_reads          = 1000000   // default: , minimum number of reads required for MTBseq analysis
    
    // ONT parameters (WIP)
        ont_filt_min_cov        = 0.95 // minimum breadth coverage as calculated by MTBseq for pairwise analysis
        ont_filt_min_depth      = 30 // minimum depth coverage as calculated by MTBseq for pairwise analysis
        ont_filt_min_reads      = 50000

    // SKA parameters
        ska_kmer                = 31 // default: 31
        ska_min_count           = 3 // default: 0, effective way of filtering sequencing errors if set to at least three, but higher may be appropriate for higher coverage data.
        ska_proportion_reads    = 1 // default: 1, The value of this parameter must be between 0 and 1. If you have high coverage samples this can be used to reduce the build time.
        ska_qual_filter         = "middle" // default: middle, options: none, strict, middle
        ska_min_qual            = 20 // default: none, Specify a minimum PHRED score to use in the filter.
        ska_min_freq            = 0.0 // default: 0.0
        ska_distance_args       = '' // additional SKA distance args   
        ska_build_args          = '' // additional SKA build args

    // Conda paths (built from yml files):
        envs_dir                = "${projectDir}/envs/conda"
        mtbseq_env              = "${projectDir}/envs/conda/mtbseq_env.yml"
        phylogeny_env           = "${projectDir}/envs/conda/phylogeny_env.yml"
        r_phylogeny_env         = "${projectDir}/envs/conda/r-phylogeny_env.yml"
        r_stats_env             = "${projectDir}/envs/conda/r-stats_env.yml"
        snippy_env              = "${projectDir}/envs/conda/snippy_env.yml"
        readQC_env              = "${projectDir}/envs/conda/readQC_env.yml"
        tbprofiler_env          = "${projectDir}/envs/conda/tbprofiler_env.yml"
        
    // Docker images (from seqera container builder):
        docker_mtbseq_img        = "community.wave.seqera.io/library/mtbseq_openjdk_python:4ea995ae57fb2cd9" //https://wave.seqera.io/view/builds/bd-4ea995ae57fb2cd9_1
        docker_phylogeny_img     = "community.wave.seqera.io/library/iqtree_mafft_seqkit_snp-sites_treetime:030632716d453b3f" //https://wave.seqera.io/view/builds/bd-030632716d453b3f_1
        docker_r_phylogeny_img   = "community.wave.seqera.io/library/bioconductor-biostrings_bioconductor-ggtree_bioconductor-treeio_r-ape_pruned:8a8ce944c25bf5fc" //https://wave.seqera.io/view/builds/bd-8a8ce944c25bf5fc_1
        docker_r_stats_img       = "community.wave.seqera.io/library/r-argparse_r-base_r-dplyr_r-ggrepel_pruned:9fa710c1508e1cb6" //https://wave.seqera.io/view/builds/bd-9fa710c1508e1cb6_1
        docker_snp_profiling_img = "community.wave.seqera.io/library/bcftools_emboss_seqkit_snp-sites_pruned:1a1022abcb91db63" //https://wave.seqera.io/view/builds/bd-1a1022abcb91db63_1
        docker_taxonomy_img      = "" //https://wave.seqera.io/view/builds/bd-53a1ea914b4e7099_1
        docker_tbprofiler_img    = "community.wave.seqera.io/library/bcftools_tb-profiler:047e29be90617326" //https://wave.seqera.io/view/builds/bd-047e29be90617326_2

    // Apptainer images
        apptainer_mtbseq_img        = "https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3a/3ad60ca6d984c352a6ae57fc4f3fb9328bfd75afe08f701d6f809a087de92eed/data" //https://wave.seqera.io/view/builds/bd-f24ae45236bbfe30_1
        apptainer_phylogeny_img     = "https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/19/1969316c878dcf7c6e1cc6a5ccf9da86409a6effa02b8c84b7214f0aff6d8922/data" //https://wave.seqera.io/view/builds/bd-1ec44de5738a92e4_1
        apptainer_r_phylogeny_img   = "https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7d/7d61844e2ab6d8b4820ce74fc28272afd98c4c0613700f4e243487070c51fc34/data" //https://wave.seqera.io/view/builds/bd-3341c4aaf45c18b8_1
        apptainer_r_stats_img       = "https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/1d/1d281274b3b9cace936bea889028c0b9713ed7cb2c2c7781379c41006b866bc3/data" //https://wave.seqera.io/view/builds/bd-4a792c8d82b891d0_1
        apptainer_snp_profiling_img = "https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/db/db3337ec6f003d7a5f87d110704d2fa8d0440cf2c86fdae86317ed956a87eb74/data" //https://wave.seqera.io/view/builds/bd-8fe1733ce51eacc9_1
        apptainer_taxonomy_img      = "https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/23/23830e0738090f67fff2bb075d2b1c22399e9fa15790b0df6525d4f072e4852b/data" //https://wave.seqera.io/view/builds/bd-53a1ea914b4e7099_1
        apptainer_tbprofiler_img    = "https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/1c/1c8630f93dc3f64b11a2ff508d950a3e06c4e33e949476ed2b475beb8cafd1c9/data" //https://wave.seqera.io/view/builds/bd-400be6f998a9ed1b_1
}