profiles {
    conda_on {
        conda.enabled           = true
        conda.useMamba          = true
        conda.createTimeout     = '2 h'
        conda.cacheDir          = "${params.envsDir}/nf-conda/"
        conda.createOptions     = "-y"
    }

    apptainer_on {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        apptainer.cacheDir      = "${params.envsDir}/nf-apptainer/"
    }

    singularity_on {
        singularity.enabled     = true
        singularity.autoMounts  = true
        singularity.cacheDir    = "${params.envsDir}/nf-singularity/"
    }

    SGE {
        process {
            executor            = 'sge'
            penv                = 'smp'
            clusterOptions      = '-S /bin/bash'
            beforeScript        = 'source /imppc/labs/emlab/phesketh/miniconda3/etc/profile.d/conda.sh'

            // Include process-specific configurations
            includeConfig 'process_resources.config'
        }
    }
}

// Container and environment definitions
params {
    // Conda paths
    envs_dir                    = "${projectDir}/envs/conda"
    mtbseq_env                  = "${projectDir}/envs/conda/mtbseq_env.yml"
    phylogeny_env               = "${projectDir}/envs/conda/phylogeny_env.yml"
    r_phylogeny_env             = "${projectDir}/envs/conda/r-phylogeny_env.yml"
    r_stats_env                 = "${projectDir}/envs/conda/r-stats_env.yml"
    snp_profiling_env           = "${projectDir}/envs/conda/snp_profiling_env.yml"
    taxonomy_env                = "${projectDir}/envs/conda/taxonomy_env.yml"
    tbprofiler_env              = "${projectDir}/envs/conda/tbprofiler_env.yml"
    
    // Docker images
    docker_mtbseq_img           = "community.wave.seqera.io/library/mtbseq_openjdk_python:4ea995ae57fb2cd9"
    docker_phylogeny_img        = "community.wave.seqera.io/library/iqtree_mafft_seqkit_snp-sites_treetime:030632716d453b3f"
    docker_r_phylogeny_img      = "community.wave.seqera.io/library/bioconductor-biostrings_bioconductor-ggtree_bioconductor-treeio_r-ape_pruned:8a8ce944c25bf5fc"
    docker_r_stats_img          = "community.wave.seqera.io/library/r-argparse_r-base_r-dplyr_r-ggrepel_pruned:9fa710c1508e1cb6"
    docker_snp_profiling_img    = "community.wave.seqera.io/library/bcftools_emboss_seqkit_snp-sites_pruned:1a1022abcb91db63"
    docker_taxonomy_img         = ""
    docker_tbprofiler_img       = "community.wave.seqera.io/library/bcftools_tb-profiler:047e29be90617326"

    // Apptainer images
    apptainer_mtbseq_img        = "https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3a/3ad60ca6d984c352a6ae57fc4f3fb9328bfd75afe08f701d6f809a087de92eed/data"
    apptainer_phylogeny_img     = "https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/19/1969316c878dcf7c6e1cc6a5ccf9da86409a6effa02b8c84b7214f0aff6d8922/data"
    apptainer_r_phylogeny_img   = "https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7d/7d61844e2ab6d8b4820ce74fc28272afd98c4c0613700f4e243487070c51fc34/data"
    apptainer_r_stats_img       = "https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/1d/1d281274b3b9cace936bea889028c0b9713ed7cb2c2c7781379c41006b866bc3/data"
    apptainer_snp_profiling_img = "https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/db/db3337ec6f003d7a5f87d110704d2fa8d0440cf2c86fdae86317ed956a87eb74/data"
    apptainer_taxonomy_img      = "https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/23/23830e0738090f67fff2bb075d2b1c22399e9fa15790b0df6525d4f072e4852b/data"
    apptainer_tbprofiler_img    = "https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/1c/1c8630f93dc3f64b11a2ff508d950a3e06c4e33e949476ed2b475beb8cafd1c9/data"
}