/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    RutiSeq-nf Nextflow config file - Profiles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Configuration profiles for different compute environments
----------------------------------------------------------------------------------------
*/

/* 
    PROFILES:
        Personal profile for running on the IGTP computing cluster
        nextflow run main.nf [···] -profile igtp,singularity_on -ansi-log false
*/

profiles {
    conda_on {
            conda.enabled           = true
            conda.useMamba          = true
            conda.createTimeout     = '2 h'
            conda.cacheDir          = "${params.envsDir}/nf-conda/"
            conda.createOptions     = "-y" // --no-shortcuts
    }

    apptainer_on {
            apptainer.enabled       = true
            apptainer.autoMounts    = true
            apptainer.cacheDir      = "${params.envsDir}/nf-apptainer/"
    }

    singularity_on {
            singularity.enabled     = true
            singularity.autoMounts  = true
            singularity.cacheDir    = "${params.envsDir}/nf-singularity/"
    }

SGE {

    /*
        Profile for running on the IGTP computing cluster using SGE
        nextflow run main.nf [···] -profile SGE,conda_on -ansi-log false
    */

    process {
        executor            = 'sge'
        queue               = 'd12imppc' // leaving it blank uses the default queue (was defaulting to d12igtpai)
        penv                = 'smp'
        clusterOptions      = '-S /bin/bash'
        beforeScript        = 'source /imppc/labs/emlab/phesketh/miniconda3/etc/profile.d/conda.sh'
    }

    includeConfig 'SGE_resources.config' // include resource specifications for each modules

    }

}

/* 
    PROFILES:
        Personal profile for running on local machine
        nextflow run main.nf [···] -profile local,conda_on -ansi-log false
        nextflow run main.nf [···] -profile SGE,conda_on -ansi-log false
        

    IGTP: qconf -sql
            - d10imppc (deprecated?)
            - d10imppc12 (deprecated?)
            - d10imppcv3 (deprecated 2024/11/20)
            - d12igtpai (GPU-only)
            - d12imppc (intendend default)

*/