def timestamp = new java.util.Date().format("yyyy-MM-dd_HH-mm-ss")

report {
    enabled = true
    file = "${params.outDir}/pipeline_info/execution_report_${timestamp}.html"
    showSkipped = false
    showTaskCacheInfo = false
    showTaskResources = true
    showTaskResourcesPercentage = true
}

timeline {
    enabled     = true
    file        = "${params.outDir}/pipeline_info/execution_timeline_${timestamp}_${params.runID}.html"
}

trace {
    enabled     = true
    file        = "${params.outDir}/pipeline_info/execution_trace_${timestamp}_${params.runID}.tsv"
    fields      = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
}

dag {
    enabled     = true
    file        = "${params.outDir}/pipeline_info/pipeline_dag_${timestamp}_${params.runID}.png"
    file        = "${params.outDir}/pipeline_info/pipeline_dag_${timestamp}_${params.runID}.mmd"
    direction   = 'TB'
}