/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    RutiSeq-nf Nextflow config file - SGE Resource Allocation
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Process-specific resource allocations for SGE executor
----------------------------------------------------------------------------------------
*/

process {
    /*
        MODULE RESOURCE ALLOCATIONS AND DEFINING ADDITIONAL ARGUMENTS
    */

    withName: SYLPH_CLASSIFICATION {
        cpus                        = { Math.min( 8 * task.attempt, 12 ) }
        memory                      = 48.GB
        time                        = 1.hour
        errorStrategy               = { task.exitStatus in 137..140 ? 'retry' : 'ignore' }
        maxRetries                  = 3
        // Customised the running parameters by adding flag below:
        }

    /*
        Workflow: SINGKE_WF()
    */

    withName: FILE_CHECK {
        cpus                        = 1
        memory                      = 6.Gb
        time                        = 5.min
        }

    withName: ADAPTORS_AND_DOWNSAMPLING {
        cpus                        = { Math.min( 0 + task.attempt, 4 ) }
        memory                      = { 6.GB * task.attempt }
        time                        = 1.hour
        errorStrategy               = { task.exitStatus in 137..140 ? 'retry' : 'finish' }
        maxRetries                  = 3
        }

    withName: TBPROFILER_PROFILE {
        cpus                        = { Math.min( 1 + task.attempt, 4 ) }
        memory                      = { 6.GB * task.attempt }
        time                        = 1.hour
        errorStrategy               = { task.exitStatus in 137..140 ? 'retry' : 'finish' }
        maxRetries                  = 3
        // Customised the running parameters by adding flag below:
        ext.additional_args         = '' // tb-profiler args
        }

    withName: MTBSEQ_SINGLE {
        cpus                        = { Math.min( 1 + task.attempt, 8 ) }
        memory                      = { 16.GB * task.attempt }
        time                        = 1.hour
        errorStrategy               = { task.exitStatus in 137..140 ? 'retry' : 'finish' }
        maxRetries                  = 3
        // Customised the running parameters by adding flag below:
        // MTBseq args - if have to ensure that ALL MTBSEQ related additional arguments are the same
        ext.additional_args         = ''
        }

    withName: SNIPPY_SINGLE {
        cpus                        = { Math.min( 1 + task.attempt, 28 ) }
        memory                      = { 8.GB * task.attempt }
        time                        = 1.hour
        errorStrategy               = { task.exitStatus in 137..140 ? 'retry' : 'finish' }
        maxRetries                  = 3
        // Customised the running parameters by adding flag below:
        ext.additional_args_varscan = '--min-coverage 20 --min-reads2 20 --min-avg-qual 20' // varscan args
        }

    /*
        Workflow: PAIRWISE_WF()
    */

    withName: TBPROFILER_COMPILE {
        cpus                        = { Math.min( 1 + task.attempt, 28 ) }
        memory                      = { 8.GB * task.attempt }
        time                        = 30.min
        errorStrategy               = { task.exitStatus in 137..140 ? 'retry' : 'finish' }
        maxRetries                  = 3
        // Customised the running parameters by adding flag below:
        ext.additional_args         = '' // tb-profiler args
        }

    withName: MTBSEQ_STATS_COMPILE {
        cpus                        = { Math.min(1 + task.attempt, 28) }
        memory                      = { 8.GB * task.attempt }
        time                        = 30.min
        errorStrategy               = { task.exitStatus in 137..140 ? 'retry' : 'finish' }
        maxRetries                  = 3
        // Customised the running parameters by adding flag below:
        ext.additional_args         = '' // tb-profiler args
        }

    withName: COMPILE_SEQUENCING_STATS {
        cpus                        = { Math.min(2 + task.attempt, 28) }
        memory                      = { 8.GB * task.attempt }
        time                        = 30.min
        errorStrategy               = { task.exitStatus in 137..140 ? 'retry' : 'finish' }
        maxRetries                  = 3
        // Customised the running parameters by adding flag below:
        ext.additional_args = '' // tb-profiler args
        }

    withName: MTBSEQ_LINEAGE_JOINT_AMEND {
        cpus                        = { Math.min(7 + task.attempt, 28) }
        memory                      = 32.GB
        time                        = 24.hour
        errorStrategy               = { task.exitStatus in 137..140 ? 'retry' : 'finish' }
        maxRetries                  = 3
        // Customised the running parameters by adding flag below:
                                    // MTBseq args - if have to ensure that ALL MTBSEQ related additional arguments are the same
        ext.additional_args         = ''
        }

    withName: MTBSEQ_LINEAGE_GROUP {
        cpus                        = { Math.min(3 + task.attempt, 28) }
        memory                      = { 16.GB * task.attempt }
        time                        = 24.hour
        errorStrategy               = { task.exitStatus in 137..140 ? 'retry' : 'finish' }
        maxRetries                  = 3
        // Customised the running parameters by adding flag below:
        // MTBseq args - if have to ensure that ALL MTBSEQ related additional arguments are the same
        ext.additional_args         = ''
        }

    withName: SNP_PHYLOGENY {
        cpus                        = { Math.min(6 + task.attempt, 28) }
        memory                      = { 16.GB * task.attempt }
        time                        = 12.hour
        errorStrategy               = { task.exitStatus in 137..140 ? 'retry' : 'finish' }
        maxRetries                  = 3
        // Customised the running parameters by adding flag below:
        ext.additional_args         = '' // tb-profiler args
        }

    withName: CONCATENATE_CLUSTERS {
        cpus                        = { Math.min(2 + task.attempt, 28) }
        memory                      = { 6.GB * task.attempt }
        time                        = 30.min
        errorStrategy               = { task.exitStatus in 137..140 ? 'retry' : 'finish' }
        maxRetries                  = 3
        }

    /*
        Workflow: SUMMARY_WF()
    */

    withName: PLOT_MAIN_PHYLOGENY {
        cpus                        = { Math.min(2 + task.attempt, 28) }
        memory                      = { 8.GB * task.attempt }
        time                        = 30.min
        errorStrategy               = { task.exitStatus in 137..140 ? 'retry' : 'finish' }
        maxRetries                  = 3
        }

    withName: GENERATE_SUMMARY_REPORT {
        cpus                        = { Math.min(2 + task.attempt, 28) }
        memory                      = { 8.GB * task.attempt }
        time                        = 30.min
        errorStrategy               = { task.exitStatus in 137..140 ? 'retry' : 'finish' }
        maxRetries                  = 3
        }

    withName: PREPARE_NEXUS_PATHS {
        cpus                        = { Math.min(0 + task.attempt, 28) }
        memory                      = { 8.GB * task.attempt }
        time                        = 30.min
        errorStrategy               = { task.exitStatus in 137..140 ? 'retry' : 'ignore' }
        maxRetries                  = 3
        }

    withName: GENERATE_NEXUS {
        cpus                        = { Math.min(0 + task.attempt, 4) }
        memory                      = { 8.GB * task.attempt }
        time                        = 30.min
        errorStrategy               = { task.exitStatus in 137..140 ? 'retry' : 'ignore' }
        maxRetries                  = 3
        }

    withName: TABULATE_VARIANT_SITES {
        cpus                        = { Math.min(0 + task.attempt, 4) }
        memory                      = { 8.GB * task.attempt }
        time                        = 30.min
        errorStrategy               = { task.exitStatus in 137..140 ? 'retry' : 'ignore' }
        maxRetries                  = 3
        }

    withName: CONCATENATED_VARIANT_FILES {
        cpus                        = { Math.min(0 + task.attempt, 4) }
        memory                      = { 8.GB * task.attempt }
        time                        = 30.min
        errorStrategy               = { task.attempt <= 3 ? 'retry' : 'ignore' }
        maxRetries                  = 3
        }

    withName: GENERATE_TIMETREES {
        cpus                        = { Math.min(1 + task.attempt, 28) }
        memory                      = { 8.GB * task.attempt }
        time                        = 30.min
        errorStrategy               = { task.exitStatus in 137..140 ? 'retry' : 'ignore' }
        maxRetries                  = 3
        }

    withName: PLOT_TIMETREES {
        cpus                        = { Math.min(0 + task.attempt, 28) }
        memory                      = { 8.GB * task.attempt }
        time                        = 30.min
        errorStrategy               = { task.attempt <= 3 ? 'retry' : 'ignore' }
        maxRetries                  = 3
        }

    withName: GENERATE_NEXUS_W_MRCA {
        cpus                        = { Math.min(0 + task.attempt, 28) }
        memory                      = { 8.GB * task.attempt }
        time                        = 30.min
        errorStrategy               = { task.attempt <= 3 ? 'retry' : 'ignore' }
        maxRetries                  = 3
        }

    withName: DATA_DELIVERY {
        cpus                        = { Math.min(0 + task.attempt, 28) }
        memory                      = { 8.GB * task.attempt }
        time                        = 30.min
        errorStrategy               = { task.attempt <= 3 ? 'retry' : 'ignore' }
        maxRetries                  = 3
        }
}