//Profile config names for nf-core/configs
params {
    config_profile_description = 'IGTP Institut Germans Trias i Pujol (IGTP) cluster profile'
    config_profile_contact     = 'Poppy J Hesketh Best (phesketh@igtp.cat)'
    max_memory                 = 90.GB
    max_cpus                   = 12
    max_time                   = 240.h
}
 
// Specify the queing system
executor {
    name = "sge"
}
 
process {
    resourceLimits = [
        memory: 90.GB,
        cpus: 12,
        time: 240.h
    ]
    penv         = 'smp'
    beforeScript = """
    source /imppc/labs/emlab/phesketh/miniconda3/bin/activate
    """
}

executor {
    name = 'sge'
    queueSize = 30
    pollInterval = '30 sec'
}

// Conda configuration
conda {
    enabled = true
    useMamba = true
}

singularity {
    enabled = false
}