//Profile config names for nf-core/configs
params {
    config_profile_description = 'IGTP Institut Germans Trias i Pujol (IGTP) cluster profile'
    config_profile_contact     = 'Poppy J Hesketh Best (phesketh@igtp.cat)'
    max_memory                 = 90.GB
    max_cpus                   = 12
    max_time                   = 240.h
}

// Specify the queuing system
executor {
    name = 'sge'
    queueSize = 30
    pollInterval = '30 sec'
}

process {
    executor = 'sge'
    penv = 'smp'
    queue = 'd10imppcv3'
    
    cpus = { check_max( 4 * task.attempt, 'cpus' ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    time = { check_max( 4.h * task.attempt, 'time' ) }

    clusterOptions = { "-l hostname=sge-exec-12|sge-exec-13|sge-exec-14" }

    beforeScript = 'source /imppc/labs/emlab/phesketh/miniconda3/bin/activate'
    
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
//def check_max(obj, type) {
//    if (type == 'memory') {
//        try {
//            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
//                return params.max_memory as nextflow.util.MemoryUnit
//            else
//                return obj
//        } catch (all) {
//            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
//            return obj
//        }
//    } else if (type == 'time') {
//        try {
//            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
//                return params.max_time as nextflow.util.Duration
//            else
//                return obj
//        } catch (all) {
//            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
//            return obj
//        }
//    } else if (type == 'cpus') {
//        try {
//            return Math.min( obj, params.max_cpus as int )
//        } catch (all) {
//            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
//            return obj
//        }
//    }
//}

// Conda configuration
conda {
    enabled = true
    useMamba = true
}

singularity {
    enabled = false
}